<h1>You booked the following properties </h1>
<p>
<% @order.products.each do |product| %>
 <%= product.name %>
 Price <%= product.total %>
 <br>
 <% end %> 
 </p>

Here are your order details:
<br>
Order ID <%= @order.id %>
 <div>
 Order subtotal <%= @order.subtotal %>
 </div>
 <div>
 Order Tax <%= @order.tax %>
 </div>
 <div>
 Order total <%= @order.total %>
 </div>
