
<h1>Listing info</h1>
<h3><%= @product.name %></h3>
<ul>
<% @product.categories.each do |category| %>
  <li>
    <%= category.name %>
  </li>
  <% end %>
</ul>

<!-- <p> <img src= <%= @product.image %> > </p> -->
<p><img src= <%=@product.images[0].url %> </p> 
<p><img src= <%=@product.images[1].url %> > </p>
<p><img src= <%=@product.images[2].url %> > </p>
<p><img src= <%=@product.images[3].url %> > </p>
----------------------------
<p>Price per night $ <%= number_to_currency(@product.price) %>  </p>
<p> <%= @product.sale_message %> including tax = <%= number_to_currency(@product.total) %> </p>
----------------------------
<p><%= @product.description %></p>
<%= form_tag "/listings/#{@product.id}", method: :delete do %>
  <% end %> 

<%= form_tag "/carted_products", method: :post do %>
  <div>
    Add Quantity: <input type="text" name="form_quantity">
    </div>
    <div>
<input type="hidden" value="<%= @product.id %>" name="form_product_id">
    </div>
  <div>
    <input type="submit" value="Add to Cart">
  </div>
  <% end %>

  <a href="/listings/<%= @product.id %>/edit">edit</a>

   <br> <input type="submit" value="Destroy Listing">
   <a href="/listings">Back to all listings</a>


   