<% if current_user %>
<p> Hi <%= current_user.name %>!</p>
<% end %>
<h1 class ="header">Listings</h1>
<div class="row">
  <p> <% @products.each do |product| %> </p>
  <div class="col-md-6">
  <div class="well">
  <h3> <a href="/listings/<%= product.id %>"><%= product.name %></a> </h3>
  <p class="price"> Price per night: <%= number_to_currency(product.price) %> </p>
  <p> <img class="listing-image" src= "<%= product.image %>"> </p>
  <p> Super Host: <%= product.supplier.name %> </p>
  <p class="info"> <br> About this property: <br> <%= product.description %> </p>
</div>
</div>
<%end%>
</div>
<br>
 <p><a href="/listings/new">Create new listing</a></p>