
<h1>Listing info</h1>
<h3><%= @product.name %></h3>
<p>Price per night $ <%= number_to_currency(@product.price) %>  </p>
<p> <%= @product.sale_message %> including tax = <%= number_to_currency(@product.total) %> </p>
<!-- <p> <img src= <%= @product.image %> > </p> -->
<p><img src= <%=@product.images[0].url %> </p> 
<p><img src= <%=@product.images[1].url %> > </p>
<p><img src= <%=@product.images[2].url %> > </p>
<p><img src= <%=@product.images[3].url %> > </p>

<p><%= @product.description %></p>
<%= form_tag "/listings/#{@product.id}", method: :delete do %>
  <% end %> 

<%= form_tag "/orders", method: :post do %>
  <div>
    Add Quantity: <input type="text" name="form_quantity">
    </div>
    <div>
    Add Product id (look at the url): <input type="text" name="form_product_id">
    </div>
    <div>
    Add Product id (look at the url): <input type="text" value="<%= @product.id %>" name="form_product_id">
    </div>
  <div>
    <input type="submit" value="Create Order">
  </div>
  <% end %>

  <a href="/listings/<%= @product.id %>/edit">edit</a>

   <br> <input type="submit" value="Destroy Listing">
   <a href="/listings">Back to all listings</a>


   